
	<div class="hubspot-oauth-dashboard" ng-controller="HubSpotOAuthController" >
		<div class="flex" style="margin-bottom:20px; align-items:center">
			<i class="umb-node-preview__icon icon-link" aria-hidden="true"></i>
			<a href="https://developers.hubspot.com/docs/faq/how-do-i-create-an-app-in-hubspot" target="_blank">{{translations.DashboardTabs_ReadMe}}</a>
		</div>
		<div class="control-group">
			<label class="control-label">ClientID</label>
			<input class="umb-property-editor" type="text" ng-model="model.value.client_id" />
		</div>
		<div class="control-group">
			<label class="control-label">Scopes</label>
			<input class="umb-property-editor" type="text" ng-model="model.value.scope" />
		</div>
		<div class="control-group">
			<label class="control-label">ClientSecret</label>
			<input class="umb-property-editor" type="text" ng-model="model.value.client_secret" />
		</div>
		<div class="control-group">
			<label class="control-label">Redirect URI</label>
			<input class="umb-property-editor" type="text" ng-model="model.value.redirect_uri" />
		</div>
		<div class="control-group">
			<umb-toggle checked="model.value.authorized"
						disabled="true"
						label-on="{{translations.DashboardTabs_Authorized}}"
						label-off="{{translations.DashboardTabs_NotAuthorized}}"
						label-position="right"
						show-labels="true"></umb-toggle>
		</div>
		<button class="btn btn-success" ng-disabled="!(model.value.client_id && model.value.scope && model.value.client_secret) " type="button" ng-click="authorize()">{{translations.DashboardTabs_Authorize}}</button>
	</div>
